h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    "Sukhumvit Set";
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 25%);
}

body {
  margin: 0 auto;
  padding: 16px;
  max-width: 480px;
}
